

body{
  background-color: black;
}

h2{
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  width: 41%;
}

.sec-txt{
  font-size: 18px;
  color: white;
  width: 21vw;
}

button{
  background-color: #3882F6;
  display: flex;
  margin: 0 auto;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  margin-left: 0px;
}

img{
  margin-right: 100px;
  left: 11%;
}

ul{
  display: flex;
  list-style: none;
  color: white;
  flex-direction: row;
  gap 40px;
}

.top-mid{
  display: flex;
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  padding: 85px;
}



.mid{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background-color: white;

}

.low-mid{
  background-color: lightgrey;
  display: flex;
  padding: 60px;
}

.box{
  display: inline;
  flex-direction: row;
  gap: 20px;
  width: 7vw;


}

figcaption{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 40px;
}

.crd-txt{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 20%;
  gap: 80px;
  margin-bottom: 50px;
}

h3{
  color: #1F2937;
  padding: 50px;
  font-size: 36px;
  font-weight: bolder;
}


.hero{
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 40%;
}


.card{
  border: 5px solid #eee;
  border-radius: 4px;
  border-color: royalblue;
  background-color: white;
  padding: 85px;
  margin: 50px;
}



.header{
  color: white;
  display: flex;
  background-color: #1F2937;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 400px;
}


.action{
  display: flex;
  background-color: #3882F6;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  overflow: hidden;
  padding-right: 10%;
  padding-left: 5%;
}



.low{
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.quote{
  display: flex;
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
  background-color: lightgrey;
  flex-direction: row;
  width: 989px;
  height: -900px;
  text-align: left;
  margin-left: 30%;
}

h4 {
  position: relative;
  color: white;
}

a{
  color: white;
}
